footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
    background-color: #666666;
    color: #ffffff;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

header {
    border: 5px #4aaaa5;
    color: #ffffff;
    width: 20%;
    background-color: #4aaaa5;
}

h2, header, footer, #name, #title {
    font-family: "Georgia", "Times", "Times New Roman", serif;
}

#selector, #content, #content1{
    font-family: "Arial", "Helvetica", Helvetica, sans-serif;
    color: #777777;
}

#name{
    float: left;
    border: 5px #4aaaa5;
    color: white;
    width: 20%;
    background-color: #4aaaa5;
    padding: 30px;
    align-content: center;
}

#myPicture {
    float: left;
    width: 30%;
    padding: 30px;
}

#content1 {
    text-align: left;
    background-color: #ffffff;
    width: 960px;
    overflow: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#spacing {
    margin-left: 10px;
}

#selector
    ul{
        list-style-type: none;
        margin: 0;
        padding: 30px;
    
    }

#selector
    li {
        float: right;
        width: 100px;
        border: 0px solid #555;
        text-align: right;
    
}

#selector
     a {
        display: block;
        width: 100px;
        color: #000;
}

#selector
    li a:hover {
        background-color: #555;
        color: white;
    }

#title {
    clear: both;
    color: #4aaaa5;
    padding: 30px;
    align-content: center;
    border-bottom: 5px solid #777777;

}    

#content{
    border: 0px solid #777777;
    background-color: #777777;
    
    clear: both;
    height: auto;
    width: 960px;

}
#headings {
    width: 960px;
    text-align: centre;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#content2 {
    text-align: left;
    background-color: #ffffff;
    width: 960px;
    overflow: auto;
    margin: auto;
}

.nameformat {
    margin: 30px;
    border: 1px solid #666666;
    width: 100px;
    text-align: left;
}

#name1{
    border: 1px solid #666666;
    width: 800px;
    height: 50px;
    margin: 30px;
}

#email {
    border: 1px solid #666666;
    width: 800px;
    height: 50px;
    margin: 30px;
}

#message {
    border: 1px solid #666666;
    width: 800px;
    height: 200px;
    overflow: auto;
    margin: 30px;
}

#button {
    border: 1px solid #4aaaa5;
    width: 100px;
    background-color: #4aaaa5;
    margin: 30px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

#content3{
    text-align: left;
    background-color: #ffffff;
    width: 100%;
    overflow: auto;
    margin: auto;
    float: left;
}

#portfolio_images {
    padding:0px;
    margin: 30px;
    float: left;
    
}

.together {
    position: relative;
    width: 400px;
    float: left;


}
.images {
    border: 1px solid #ee4747;
    width: 400px;



  
    
    
}
    

.image_format {
    position: relative;
    bottom: 50px;
    right: 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 0px solid #4aaaa5;
    width: 100%;
    text-align: center;
}